@font-face {
  font-family: "Google Sans";
  src: url("assets/GoogleSans-VariableFont_GRAD,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Google Sans", sans-serif;
}
input {
  padding: 10px;
  border: 1px, solid, grey;
  border-radius: 5px;
}

li {
  padding: 5px;
}

button {
  padding: 10px;
  border: 1px, solid, transparent;
  border-radius: 5px;
}

input::placeholder {
  font-style: italic;
}
label {
  font-weight: bold;
}
form,
#result_container {
  flex-direction: column;
  width: 50vw;
}

form {
  gap: 10px;
}
#result_container {
  gap: 20px;
}

ul,
p {
  text-align: start;
}

#results {
  text-align: center;
}

#result_btns {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}
