@font-face {
  font-family: "Google Sans";
  src: url("assets/GoogleSans-VariableFont_GRAD,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-family: "Google Sans", sans-serif;
}
input,
button {
  padding: 10px;
  border: 1px, solid, grey;
  border-radius: 5px;
}

input::placeholder {
  font-style: italic;
}
label {
  font-weight: bold;
}
form {
  flex-direction: column;
  gap: 10px;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}
