@font-face {
  font-family: "Google Sans";
  src: url("assets/GoogleSans-VariableFont_GRAD,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Google Sans";
  background-color: wheat;
}
form {
  flex-direction: column;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}
